<div class="container mt-3 mb-5">
 <div class="row">

  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 ">
   
   <% if user_signed_in? %>
  <div class="col-md-3">
  <%= render 'users/list',user: current_user %>
  <%= render 'books/new',book: @book %>
  
  <div class="col-md-8 offset-md-1">
     <h2>Books</h2>
     <table class="table table-hover table-inverse ">
      <thead>
       <tr>
       <th></th>
       <th>Title</th>
       <th>Opinion</th>
       <th colspan="3"></th>
       </tr>
      </thead>
      <tbody>
       <tr>
        <% @books.each do |book| %>
        <td>
          <%= image_tag @user.get_profile_image(80,80) %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
          <%= book.title %>
          <% end %>
        </td>
        <td>
          <%= book.body %>
        </td>
        </tr>
        <% end %>
      </tbody>
     </table>
    </div>
  
  </div>
   
   
   <% else %>
   <h1>welcome to 
   <i class="fas fa-book"></i>
   <strong>
    Bookers
   </strong>!!
   </h1>

   <p>In
    <i class="fas fa-book"></i>
    <strong>Bookers</strong>,
   </p>

   <p>
     you can share and exchange your opinions , inpressions , and emotions
   </p>
   <p>
     about various books!
   </p>

   <div class="btn-wrapper col-10 mx-auto">
    <div class="row">
      <%= link_to"Log in",new_user_session_path, {class: "btn btn-info btn-sm btn-block mb-3 sign_in"} %>
    </div>
    <div class="row">
      <%= link_to"Sign up",new_user_registration_path, {class: "btn btn-success btn-sm btn-block sign_up"} %>
    </div>
   </div>
   <% end %>

  </div>
 </div>

</div>